.button{
    display: inline-block;
    padding: 12px 6px;
    border-radius: 4px;
    border: hsl(211, 100%, 50%);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.button:hover{
    background-color: indigo;
    color: white;
}
.button:active{
    background-color: indigo;
}
.button-small{
    width: 40px;
    padding: 10px ;
    border-radius: 3px;
    font-size: 16px;
}
.button-larg{
    padding: 8px 6px;
    font-size: 20px;
    border-radius: 5px;
}
.button-notok{
    border: hsl(0, 100%, 50%);
}
.button-ok{
    border: hsl(125, 100%, 50%);
}